.modalContent {
	width: 670px;
	max-width: 90vw;
	height: 1600px;
	max-height: 90vh;
	overflow: hidden;
	background-color: #000;
}

.embeddedVideo {
	width: 100%;
	height: 100%;
	border: none;
}

.localVideo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
