@font-face {
	font-family: 'Inter';
	src:
		url('../fonts/font-files/Inter/Inter_18pt-Regular.ttf') format('truetype'),
		url('../fonts/font-files/Inter/Inter_24pt-Regular.ttf') format('truetype'),
		url('../fonts/font-files/Inter/Inter_28pt-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Polonium-bold';
	src: url('../fonts/font-files/Polonium/Polonium-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Polonium';
	src: url('../fonts/font-files/Polonium/Polonium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Soyuz';
	src: url('../fonts/font-files/Soyuz/SoyuzGroteskBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/font-files/Unbounded/Unbounded-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/font-files/Unbounded/Unbounded-Bold.ttf')
		format('truetype');
	font-weight: 700;
	font-style: normal;
}
