@use 'variables' as *;

* {
	margin: 0 auto;
	padding: 0;
}

html,
body {
	scroll-behavior: smooth;
	color: $primary-font-color;
	font-family: $font-family;
	background-color: $primary-background;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.highlight {
	color: $accent-color;
}
